* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
.cover {
  width: 100%;
  height: 100vh;
  background-image: url(./images/DiamondBG.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px;
  top: 0;
  left: 0;
  z-index: 12;
  animation: appear5 7s 1;
}
header img {
  width: 50px;
  cursor: pointer;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
header ul li a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  transition: 0.4s ease-in-out;
}
header ul li {
  margin: 0 10px;
  color: #ffffff;
  font-size: 14px;
  font-family: "Playfair Display", serif;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}
.active {
  color: #b98708;
  transition: 0.4s ease-in-out;
}
.active:hover {
  color: #ffffff;
}
header ul li span {
  font-family: serif;
  color: #b98708;
}
header ul li a:hover,
header ul li:hover {
  color: #b98708;
}
.logoContainer {
  display: flex;
  align-items: center;
}
.logoContainer h3 {
  color: #b98708;
  font-size: 25px;
  margin-left: 7px;
  font-family: "DM Serif Display", serif;
  position: relative;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.logoContainer h3 span {
  font-family: "Great Vibes", cursive;
  font-size: 26px;
  color: #ffffff;
  position: absolute;
  font-weight: 200;
  left: 19%;
  bottom: -13px;
}
h1 {
  position: absolute;
  font-family: "DM Serif Display", serif;
  font-size: 100px;
  letter-spacing: 10px;
  font-weight: 500;
  text-align: center;
  color: #b98708;
  line-height: 25px;
  top: 50%;
  left: 50%;
  animation: appear2 7s 1;
  transform: translate(-50%, -50%);
  user-select: none;
}
h1 span {
  font-family: "Great Vibes", cursive;
  font-size: 100px;
  letter-spacing: 1px;
  font-weight: 100;
  animation: appear3 8s 1;
  color: black;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;
  height: 65%;
  width: 60%;
  animation: appear 7s 1;
  backdrop-filter: blur(3px);
  border: 2px solid #b98708;
  box-shadow: -8px -8px 15px rgba(255, 2255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
}
.container div button {
  width: 200px;
  height: 35px;
  margin-bottom: 70px;
  background-color: #b98708;
  border: none;
  color: white;
  font-weight: 600;
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  animation: appear4 9s 1;
  transition: all 500ms ease-in-out;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.container div button:hover {
  border: 1px solid #b98708;
  color: #b98708;
  background: transparent;
  scale: 1.05;
  box-shadow: -8px -8px 15px rgba(255, 2255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
}

/* Shop styles */

.shop {
  width: 100%;
  height: 100vh;
  background-color: #201f1f;
}
.shopContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 50px 30px 50px;
}
.categoryContainer {
  width: 23%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #b98708;
}
.categoryContainer ul {
  text-align: left;
  margin-left: 15px;
}
.categoryItem {
  margin: 7px 0;
  color: white;
  font-size: 13px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
  user-select: none;
  transition: 0.4s ease-in-out;
}
.categoryItem:hover {
  color: goldenrod;
}
.categoryContainer h3 {
  margin: 20px 0;
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 500;
  color: #b98708;
  user-select: none;
}
.categoryItem.open {
  color: #b98708;
  transition: 0.4s ease;
}
.categoryItem.open:hover {
  color: white;
}
.shopItems {
  width: 75%;
  height: 100%;
}
.filter-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
}
.filter-menu li {
  margin: 0 15px;
  color: #ffffff;
  font-weight: 200;
  cursor: pointer;
}
.filter-btn.is-active {
  color: #b98708;
  transition: all 0.5s ease;
}
.itemsContainer {
  height: 400px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
}
.filter-project-item {
  margin: 0 30px 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.6s ease-in-out;
  border: 1px solid #b98708;
  overflow: hidden;
  cursor: pointer;
}
.filter-project-item:hover {
  box-shadow: -8px -8px 15px rgba(255, 2255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
}
.filter-project-item h3 {
  color: white;
  margin: 15px 0;
  font-weight: 400;
  font-family: "DM Serif Display", serif;
  letter-spacing: 2px;
  font-size: 16px;
  text-align: center;
}
.filter-project-item button {
  width: 170px;
  height: 35px;
  margin: 10px 0;
  background-color: #b98708;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease-in;
  font-family: "Playfair Display", serif;
}
.filter-project-item button:hover {
  border: 1px solid #b98708;
  color: #b98708;
  background: transparent;
}
.itemsContainer::-webkit-scrollbar {
  width: 3px;
}
.itemsContainer::-webkit-scrollbar-track {
  background-color: #201f1f;
}
.itemsContainer::-webkit-scrollbar-thumb {
  background-color: #b98708;
  border-radius: 5px;
}
.itemsContainer::-webkit-scrollbar-thumb:hover {
  background-color: #cead5b;
}
.filter-project-item.show {
  display: flex;
  transition: 0.6s ease-in-out;
}
.filter-project-item img {
  width: 130px;
  height: 120px;
  object-fit: fill;
  margin: 20px 0;
  filter: drop-shadow(0 50px 20px #f3f3f3);
}
.filter-project-item.hide {
  display: none;
  transition: 0.6s ease;
}
.filter-project-item > span {
  color: white;
  margin-bottom: 15px;
  font-weight: 100;
  font-family: "poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 3px;
}
#cartContainer {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(3px);
  z-index: 15;
  right: -330px;
  transition: 0.5s ease-in-out;
  border-left: 1px solid #b98708;
  box-shadow: -8px -8px 15px rgba(255, 2255, 255, 0.1),
    8px 8px 15px rgba(0, 0, 0, 0.2);
}
#cartContainer.opened {
  right: 0;
}

#loading12,
#loading2,
#loading3,
#loading4,
#loading1,
#loading5,
#loading6,
#loading7,
#loading8,
#loading9,
#loading10,
#loading11 {
  animation: spin 1000ms infinite linear;
  width: 20px;
}
#checked12,
#checked2,
#checked3,
#checked4,
#checked1,
#checked5,
#checked6,
#checked7,
#checked8,
#checked9,
#checked10,
#checked11 {
  animation: done 300ms 1 linear;
  transition: all 0.3s ease;
}
.hidden {
  display: none;
}
.cartButtons {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
}
.cartButtons button {
  height: 37px;
  border: none;
  background: transparent;
  color: #b98708;
  font-family: "Playfair Display", serif;
  cursor: pointer;
  letter-spacing: 2px;
}
#Close {
  width: 34%;
  color: #ffffff;
  transition: 0.6s ease-in-out;
}
/* #Close:hover {
} */
#checkout {
  width: 66%;
  transition: 0.6s ease-in-out;
}
/* #checkout:hover {
} */

#contact {
  width: 100%;
  height: 100vh;
  background-color: #111010;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
#map {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 35%;
}
#map div {
  border: 1px solid #b98708;
  padding: 10px;
}
iframe {
  border: none;
  width: 250px;
  height: 400px;
}
#inbox {
  width: 65%;
  padding: 50px 0 50px 70px;
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-weight: 200;
}
#inbox input {
  border: none;
  background-color: #313030;
  padding: 8px 5px;
  color: #ffffff;
  caret-color: #b98708;
}
.Info {
  width: 80%;
}
.Info img {
  width: 80px;
}
.Info h2 {
  color: #b98708;
  font-family: "DM Serif Display", serif;
  font-weight: 500;
  position: relative;
  user-select: none;
}
.Info h2 span {
  color: #ffffff;
  position: absolute;
  left: 10px;
  bottom: -14px;
  font-size: 28px;
  font-family: "Great Vibes", cursive;
  font-weight: 200;
}
.Info div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.Info p {
  font-family: "poppins", sans-serif;
  font-weight: 100;
  font-size: 13px;
  margin-bottom: 15px;
}
#message {
  outline: none;
  border: none;
  padding: 8px 5px;
  margin: 0 0 20px 0;
  width: 80%;
  font-family: "Poppins", sans-serif;
  height: 100px;
  resize: none;
  background-color: #313030;
  color: #ffffff;
  caret-color: #b98708;
}
form div {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
}
form div input {
  width: 100%;
}
#name {
  width: 40%;
}
#email {
  width: 60%;
}
form span {
  color: #b98708;
  font-family: "poppins", sans-serif;
  font-weight: 200;
  line-height: 30px;
}
form button {
  width: 150px;
  height: 34px;
  border: none;
  color: #b98708;
  border: 1px solid #b98708;
  background-color: transparent;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  letter-spacing: 2px;
  font-size: 13px;
  transition: 0.4s ease-in-out;
}
form button:hover {
  color: white;
  background-color: #b98708;
}
.btn {
  display: flex;
  justify-content: end;
}
.address {
  width: 80%;
  display: flex;
  margin-top: 15px;
  font-family: "poppins", sans-serif;
}
.address a {
  color: #b98708;
}

/* keyframes */

@keyframes appear {
  0% {
    opacity: 0;
    scale: 0;
  }
  20% {
    opacity: 0;
    scale: 0;
  }
  60% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes appear2 {
  0% {
    opacity: 0;
    scale: 0;
  }
  60% {
    opacity: 0;
    scale: 0;
  }
  80% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes appear3 {
  0% {
    opacity: 0;
    scale: 0;
  }
  80% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes appear4 {
  0% {
    opacity: 0;
    scale: 0;
  }
  80% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes appear5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes done {
  from {
    opacity: 0;
    transform: scale(0) rotate(270deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}
